@theme {
    --color-timo-blue-50: #F1F6FE;
    --color-timo-blue-75: #C6D8FC;
    --color-timo-blue-100: #AEC8FB;
    --color-timo-blue-200: #8CB0F9;
    --color-timo-blue-300: #74A0F8;
    
    --color-timo-gray-300: #F5F5F5;
    --color-timo-gray-500: #E6E8E8;
    --color-timo-gray-600: #D8D8D8;
    --color-timo-gray-700: #9F9F9F;
    --color-timo-gray-800: #757575;
    --color-timo-gray-900: #3F3F3F;

    --color-timo-yellow-300: #F2FC9F;
    --color-timo-black: #121212;
    --color-timo-red: #FF6650;
    --color-timo-orange: #FFB157;
    --color-timo-green: #9FDDA9;
}