@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/radius.css";
@import "./scrollbar.css";

@theme {
  --shadow-timo: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  --z-modal-overlay: 40;
  --z-modal-panel: 50;
}